.header{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding: 20px;
    z-index: 99;
    border-bottom: solid 1px rgb(37, 37, 37);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: rgba(#000000, 0.8);
    backdrop-filter: blur(10px);

    div:last-child{
        justify-self: flex-end;
    }
}
