
input{
   min-width: 300px;
   padding: 20px;
   background-color: transparent;
   border-radius: 5px;
   background-color: #111111;
   border: none;
   margin: 0 10px;

}

button{
    border-radius: 5px;
    padding: 20px 30px;
    background-color: #0070f3;
    border: none;
    cursor: pointer;
}