.txt-primary{
    color: var(--joy-palette-primary-500);
}


.hero{

    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ugo-image{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    .content{
        position: absolute;
        bottom: 0;
        width: 100%;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(73,129,242,0) 100%);
        padding: 20px 20px 10px 20px;
        color: var(--joy-palette-neutral-50);
    }
}

.ugo-single-img{
    width: 100%;
    height: auto;
    max-width: 800px;
    margin: 40px auto;
    vertical-align: bottom;
}


.loadmore{
    padding: 80px;
    text-align: center;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 99;
}


.wrapper{
    max-width: 1440px;
    margin: 140px auto 0 auto;
    padding: 0 40px;
}

.loading-wrapper{
    margin-top: 108px;
}

.image-wrapper{
    display: flex;
    justify-content: center;
}

.profile{
    display: flex;
    align-items: center;
    &__content{
        margin-left: 20px;
        h4,p{
            margin: 0;
        }
    }
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ugo-image-informations{
    padding: 20px 0;
    margin: 20px 0;
    border-bottom: solid 1px #1A2027;
}


.ugo-trending-search{
    margin-top: 106px;
    display: flex;
    width: 100%;
    &__head{
        padding: 20px 40px;
        margin: 0;
        background-color: var(--joy-palette-background-level1);
    }
    
    ul{
        padding: 20px 40px;
        display: flex;
        list-style-type: none;
        margin: 0;
        border-bottom: solid 1px #1A2027;
        flex: 1;
        li{
            cursor: pointer;
            margin-right: 30px;
            opacity: 0.7;
        }
    }
}

.ugo-serach-wrapper{
    position: relative;
    form{
        display: flex;
        align-items: center;
        div:first-child{
            flex: 1;
            margin-right: 10px;
        }
        
    }
}
.ugo-recent-search{
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: darken(#1A2027, 3);
    margin: 0;
    padding: 20px 10px;
    list-style-type: none;
    border-radius: 5px;
    li{
        .row{
            align-items: center;
        }
        &.head{
            padding: 10px;
        }
        &.term{
            padding: 5px 10px;
            cursor: pointer;
            &:hover{
                background-color: darken(#1A2027, 5);
            }
            .term__head{
                display: flex;
                align-items: center;
                p{
                    margin-left: 10px;
                }
            }
            .term__close{
                opacity: 0.7;
                display: flex;
                align-items: center;
            }
        }

    }
}


.ugo-color-picker{
    display: flex;
    align-items: center;
    .color-dot{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 5px;
        opacity: 0.5;
    }
    &:hover{
        .color-dot{
            opacity: 1;
        }
    }

}
